{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@assets": "./assets",
        "@common": "./src/common",
        "@components": "./src/components"
      }
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": false
    }]
  ]
}